body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #63AFBD;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.bg-base-body {
    background: #63AFBD;
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    display: flex;
    flex-direction: column;
}

.head-homepage{
    width: 1360px;
}

.bg-body-item{
    grid-template-columns: 0.8fr 4fr;
    display: grid;
}

.nav {
    background-color: #63AFBD;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.navigation {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: normal;
}

.navigation a p {
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FFFEFE;
    background: #63AFBD;
    width: 65px;
    height: 20px;
    text-align: center;
}

.login a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: normal;
}

.login a p {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* SIDEBAR */
.sidebar {
    width: 110.000px;
    height: 300.000px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #FFF;
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between icons as needed */
}

.sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.sidebar a img {
    height: 100%; /* Adjust based on the actual icon size */
    object-fit: cover;
    margin-top: 15px;
}

.cipsmart {
    margin-top: -45px;
}


.logotext{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.ormawa {
    background-color: #FFF;
    border-radius: 50px;
    width: 87.501px;
    height: 87.501px;
    flex-shrink: 0;
    margin-top: 0px;
}

.ormawateks{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 0;
}

.content {
    background-color: #FFEC00;
}



.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    margin-left: -900px;
}

.titleppk {
    width: 204px;
    height: 10px;
    font-size: 12px;
    color: #FFEC00;
    margin-left: -150px;
}

.sub-title {
    width: 318px;
    height: 36px;
    font-size: 15px;
    color: #FFF;
    margin-left: -150px;
}

.anggota {
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 650px;
    margin-left: 200px;
    padding: 0%;
    row-gap: 50px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pa-agus img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    margin-top: -235px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.pa-agus h1{
    width: 261px;
    height: 36px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -90px;
    margin-left: 20px;
}

.pa-agus p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.box2 h1{
    width: 261px;
    height: 16px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -80px;
    margin-left: 25px;
}

.box2 p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 25px;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.box3 h1{
    width: 248px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -80px;
    margin-left: 25px;
}

.box3 p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 25px;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.box4 h1{
    width: 261px;
    height: 16px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -80px;
    margin-left: 25px;
}

.box4 p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 25px;
}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.box5 h1{
    width: 261px;
    height: 16px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -80px;
    margin-left: 25px;
}

.box5 p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 25px;
}

.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6 img {
    display: block;
    border-radius: 20px;
    background: #FFF;
    margin-right: 50px;
    width: 312px;
    height: 234px;
    flex-shrink: 0;
}

.box6 h1{
    width: 261px;
    height: 16px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -80px;
    margin-left: 25px;
}

.box6 p{
    width: 261px;
    height: 27px;
    flex-shrink: 0;
    color:#63AFBD;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 25px;
}

.detail-gambar{
    width: 220px;
    height: 227px;
    flex-shrink: 0;
}

/* FOOTER */
.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-top: 750px;
}

.linked {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Adjust gap between columns as needed */
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px; /* Space between columns and copyright */
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.linked a, .linked p {
    margin: 5px 0;
}

.linked a {
    color: #FFF;
    text-decoration: none; /* Remove underline */
}

.linked a:hover {
    color: #FFF; /* Ensure hover color stays white */
    text-decoration: underline; /* Optional: underline on hover */
}

.callfot img {
    width: 30px; /* Adjust icon size as needed */
}

.copyright {
    text-align: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

.copy {
    margin: 0;
}

/* BUTTON USERNAME */
.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 10px 0px 0px -30px;
    border-radius: 10px;
}

.dropdown-content a {
    color: #3EB9F7;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    height: 25px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.show {
    display: block;
}