@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: url('../img/dashboard/bg-dashboard.png') no-repeat center center/cover;
    position: relative;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(118, 118, 118);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 20px;
    border: 3px solid rgb(118, 118, 118);
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: rgba(99, 175, 189, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 50px;
}

.sidebar .logo {
    width: 100%;
    text-align: center;
}

.sidebar .logo img {
    width: 80px;
    margin-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar ul li a:hover, .sidebar ul li.active a {
    background-color: white;
    color: #63AFBD;
    border-radius: 50px;
}

.sidebar ul li.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* CONTENT */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
}

.header-icons i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none; /* Menghapus dekorasi teks dari tautan */
    color: #1CB1D6; /* Mengatur warna ikon menjadi putih */
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin-bottom: 20px;
    color: #63AFBD;
    display: inline-block;
}

.add-data-btn {
    max-width: 35px;
}

.titletable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #63AFBD;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #63AFBD;
    color: white;
}

table td i {
    cursor: pointer;
    margin: 0 5px;
}

table th, table td {
    border: 1px solid #63AFBD !important;
    padding: 2px !important;
    text-align: center !important;
    font-size: 10px !important;
}

/* DROPDOWN */
.corner-education{
    margin-bottom: 20px;
}

.title-ce{
    margin-bottom: 20px;
    margin-right: 10px;
    color: #63AFBD;
}

.drop-ce{
    color: #63AFBD;
    border-color: #63AFBD;
}

/*ICON */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0; /* Ensures no extra space between icons */
}

.icon-container a {
    text-decoration: none;
}

.icon-container i {
    display: inline-block;
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar ul li {
        width: auto;
    }

    .sidebar ul li a {
        padding: 10px;
        font-size: 12px;
        text-align: left;
    }

    .main-content {
        margin-top: 200px; /* Adjust if needed */
        padding: 10px;
    }

    .header h1 {
        font-size: 18px;
    }

    .header-icons i {
        font-size: 18px;
    }

    .content {
        padding: 10px;
    }

    table th, table td {
        padding: 5px;
        font-size: 12px;
    }
}

