* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: url('../img/dashboard/bg-dashboard.png') no-repeat center center/cover;
    position: relative;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(118, 118, 118);
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 20px;
    border: 3px solid rgb(118, 118, 118);
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: rgba(99, 175, 189, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-top-right-radius: 50px;
    height: 100%; /* Ensure the sidebar takes full height */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.sidebar .logo img {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0; /* Reduced padding */
    box-sizing: border-box;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 8px 16px; /* Adjust padding */
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
}

.sidebar ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    object-fit: contain;
}

.sidebar ul li a:hover, .sidebar ul li.active a {
    background-color: white;
    color: #63AFBD;
    border-radius: 50px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
}

.header-icons i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #1CB1D6;
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin-bottom: 20px;
    color: #63AFBD;
    display: inline-block;
}

.add-data-btn {
    max-width: 35px;
}

.titletable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tabel */
table {
    width: 80%; /* Mengatur lebar tabel agar lebih kecil dari lebar kontainer */
    max-width: 100%; /* Pastikan tabel tidak melampaui lebar kontainer */
    margin: 0 auto; /* Tengah tabel secara horizontal */
    border-collapse: collapse; /* Menghilangkan jarak antara border sel */
}

/* Judul dan sel tabel */
table th, table td {
    border: 1px solid #63AFBD; /* Border untuk sel tabel */
    padding: 15px; /* Padding dalam sel tabel */
    text-align: center; /* Menyelaraskan teks ke tengah */
    font-size: 14px; /* Ukuran font untuk sel tabel */
}

/* Judul tabel */
table th {
    background-color: #63AFBD; /* Warna latar belakang untuk header tabel */
    color: white; /* Warna teks untuk header tabel */
}


/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar ul li {
        width: auto;
    }

    .sidebar ul li a {
        padding: 10px;
        font-size: 12px;
        text-align: left;
    }

    .main-content {
        margin-top: 200px;
        padding: 10px;
    }

    .header h1 {
        font-size: 18px;
    }

    .header-icons i {
        font-size: 18px;
    }

    .content {
        padding: 10px;
    }

    table th, table td {
        padding: 5px;
        font-size: 12px;
    }
}

/* DROPDOWN */
.corner-education{
    margin-bottom: 20px;
}

.title-ce{
    margin-bottom: 20px;
    margin-right: 10px;
    color: #63AFBD;
}

.drop-ce{
    color: #63AFBD;
    border-color: #63AFBD;
}
